button{
    position: relative;
    border : none;
    transition : .4s ease-in;
    z-index :1;
    margin: 0.5em;
    padding: 1em 2em;
    cursor: pointer;
    font: inherit;    
}
button::before,
button::after{
    position: absolute;
    content: "";
    z-index: -1;
}

.glow-effect:hover{
    background: #ff96ad;
    box-shadow: 0 0 5px #ff96ad,0 0 25px #ff96ad,0 0 50px #ff96ad,0 0 200px #ff96ad;
}
.door-effect:hover{
    box-shadow: inset -10.5em 0 0 0 #ff96ad,inset 10.5em 0 0 0 #ff96ad;
}
.shutter-effect1::after{
    background: #ff96ad;
    height: 0;left: 0;top: 0;
    transition-duration: 0.6s;
    width: 100%;
}
.shutter-effect1:hover::after{
    height: 100%;
}
.shutter-effect2::after{
    background: #ff96ad;
    height: 0;left: 0;bottom: 0;
    transition-duration: 0.6s;
    width: 100%;
}
.shutter-effect2:hover::after{
    height: 100%;
}
.double-effect:hover{
    box-shadow: 10px 10px 0px #ff96ad;
    top: -5px;left: -5px;
}
.shine-effect::after{
    background: #ff96ad;
    height: 100%;
    left: -35%;
    top: 0;
    transform: skew(50deg);
    transition-duration: 0.6s;
    transform-origin: top left;
    width: 0;
}
.shine-effect:hover::after{
    height: 100%;
    width: 135%;
}

.arrow {
    border: none;
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .arrow:after {
    content: '>>';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s ease-in;
  }
  
  .arrow:hover{
    padding-right: 64px; /* to place text */
    padding-left:8px;
  }
  
  .arrow:hover:after {
    opacity: 1;
    right: 30px; /* to place arrow */
  }


/* Flip */  
.flip {
  margin: 0.5em;
  position: relative;
  width: 160px;
  height: 58px;
}
.flip a {
  font-weight: 400;
  text-transform: uppercase;
  /* margin: 0;
  padding: 0; */
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.4s;
  cursor: pointer;
}
.flip a .front,
.flip a .back {
  margin: 0;
  width: 160px;
  height: 48px;
  line-height: 48px;
  position: absolute;
  text-align: center;
  letter-spacing: 0.6em;
}
.flip a .front {
  background-color: #222;
  color: #fff;

  transform: rotateY(0) translateZ(24px);
}
.flip a .back {
  background-color: rgba(255, 255, 255.0);
  color: rgba(34,34,34,0);
  transform: rotateX(90deg) translateZ(24px);
  overflow: hidden;
}
.flip a .back:after {
  content: '';
  position: absolute;
  top: -32%;
  left: -10%;
  width: 120%;
  height: 50%;
  background: #222;
  transform: rotate(8deg);
  transition: all 0.5s ease;
  transition-delay: 0.15s;
}
.flip a:hover {
  transform: translateZ(-24px) rotateX(-90deg);
}
.flip a:hover .front {
  background: #000;
  transition: all 0.8s ease;
}
.flip a:hover .back {
  color: #222;
  transition: color 0.4s linear;
  background: #fff;
}
.flip a:hover .back:after {
  transform: rotate(6deg) translate(100px, -18px);
}